@font-face {
  font-display: fallback;
  font-family: Avenir Next forINTUIT;
  font-style: normal;
  font-synthesis: none;
  font-weight: 275 900;
  src: url(https://uxfabric.intuitcdn.net/fonts/avenir-next-intuit/1.0.0/AvenirNextforINTUITVar.woff2)
      format("woff2-variations"),
    url(https://uxfabric.intuitcdn.net/fonts/avenir-next-intuit/1.0.0/AvenirNextforINTUITVar.woff)
      format("woff");
}
@font-face {
  font-display: fallback;
  font-family: Avenir Next forINTUIT;
  font-style: italic;
  font-synthesis: none;
  font-weight: 275 900;
  src: url(https://uxfabric.intuitcdn.net/fonts/avenir-next-intuit/1.0.0/AvenirNextforINTUITVar-It.woff2)
      format("woff2-variations"),
    url(https://uxfabric.intuitcdn.net/fonts/avenir-next-intuit/1.0.0/AvenirNextforINTUITVar-It.woff)
      format("woff");
}
@font-face {
  font-display: fallback;
  font-family: Avenir Next forINTUIT Var;
  font-style: normal;
  font-synthesis: none;
  font-weight: 275 900;
  src: url(https://uxfabric.intuitcdn.net/fonts/avenir-next-intuit/1.0.0/AvenirNextforINTUITVar.woff2)
      format("woff2-variations"),
    url(https://uxfabric.intuitcdn.net/fonts/avenir-next-intuit/1.0.0/AvenirNextforINTUITVar.woff)
      format("woff");
}
@font-face {
  font-display: fallback;
  font-family: Avenir Next forINTUIT Var;
  font-style: italic;
  font-synthesis: none;
  font-weight: 275 900;
  src: url(https://uxfabric.intuitcdn.net/fonts/avenir-next-intuit/1.0.0/AvenirNextforINTUITVar-It.woff2)
      format("woff2-variations"),
    url(https://uxfabric.intuitcdn.net/fonts/avenir-next-intuit/1.0.0/AvenirNextforINTUITVar-It.woff)
      format("woff");
}
.app-error {
  color: red;
  font-size: 16px;
  margin: 0 15px;
}
.app-error button {
  margin-right: 15px;
}
.app-error .info {
  color: gray;
  font-style: italic;
}
#yellow-browser {
  position: relative;
  top: 0;
  width: 100%;
  z-index: 20100;
}
#yellow-browser [class^="StyledPageMessage__Title"],
#yellow-browser h3 {
  font-size: 16px;
}
#yellow-browser .message-content {
  font-size: 16px;
  padding-bottom: 8px;
}
#yellow-browser .message-content a {
  padding-left: 4px;
}
html {
  font-family: Avenir Next forINTUIT, Arial, -apple-system, Helvetica Neue,
    sans-serif;
  font-size: 62.5%;
}
.hide-spinner {
  animation: unset !important;
  visibility: hidden;
}
.hide-spinner div {
  display: none;
}
.mobile-secondary-widget-overlay-style {
  background-color: #fff;
  bottom: 0;
  cursor: pointer;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}
.Typography-dark-d889099 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --ids-03f501: 500;
  --ids-4f8b1f: 700;
  --ids-53f4a4: 500;
  --ids-b01d4e: 700;
  --ids-fcb9df: 500;
  --ids-5ea72e: 700;
  --ids-d1b7f5: 500;
  --ids-c8d98a: 700;
}
.Typography-display-1-c3a2acc {
  font-family: var(--ids-82c7f6);
  font-size: var(--ids-556200, 84px);
  font-style: normal;
  font-weight: var(--ids-1e0740, 700);
  line-height: var(--ids-c65abc, 1.3);
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.Typography-display-1-c3a2acc strong {
  font-weight: var(--ids-ab1362, 700);
}
.Typography-display-1-c3a2acc.Typography-ramp-medium-a8ae865 {
  font-size: var(--ids-57eb72);
}
@media (max-width: 992px) {
  .Typography-display-1-c3a2acc {
    font-size: var(--ids-57eb72);
  }
}
.Typography-display-2-7b0c7d3 {
  font-family: var(--ids-82c7f6);
  font-size: var(--ids-6bf844, 72px);
  font-style: normal;
  font-weight: var(--ids-7879cd, 700);
  line-height: var(--ids-cbdb11, 1.3);
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.Typography-display-2-7b0c7d3 strong {
  font-weight: var(--ids-3cb5e9, 700);
}
.Typography-display-2-7b0c7d3.Typography-ramp-medium-a8ae865 {
  font-size: var(--ids-db0e34);
}
@media (max-width: 992px) {
  .Typography-display-2-7b0c7d3 {
    font-size: var(--ids-db0e34);
  }
}
.Typography-display-3-b1149c9 {
  font-family: var(--ids-82c7f6);
  font-size: var(--ids-b213c5, 60px);
  font-style: normal;
  font-weight: var(--ids-297ac9, 700);
  line-height: var(--ids-9d02b7, 1.3);
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.Typography-display-3-b1149c9 strong {
  font-weight: var(--ids-c8bf82, 700);
}
.Typography-display-3-b1149c9.Typography-ramp-medium-a8ae865 {
  font-size: var(--ids-8eba87);
}
@media (max-width: 992px) {
  .Typography-display-3-b1149c9 {
    font-size: var(--ids-8eba87);
  }
}
.Typography-display-4-a47b2aa {
  font-family: var(--ids-82c7f6);
  font-size: var(--ids-3026b1, 48px);
  font-style: normal;
  font-weight: var(--ids-9fb241, 700);
  line-height: var(--ids-5ca9de, 1.3);
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.Typography-display-4-a47b2aa strong {
  font-weight: var(--ids-9ae687, 700);
}
.Typography-display-4-a47b2aa.Typography-ramp-medium-a8ae865 {
  font-size: var(--ids-aa1a2a);
}
@media (max-width: 992px) {
  .Typography-display-4-a47b2aa {
    font-size: var(--ids-aa1a2a);
  }
}
.Typography-headline-1-d80c613 {
  font-family: var(--ids-171f71);
  font-size: var(--ids-9ae3ae, 48px);
  font-style: normal;
  font-weight: var(--ids-d1dfa5, 600);
  line-height: var(--ids-e8bae0, 1.3);
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.Typography-headline-1-d80c613 strong {
  font-weight: var(--ids-9b0a30, 700);
}
.Typography-headline-1-d80c613.Typography-ramp-medium-a8ae865 {
  font-size: var(--ids-4affa3);
}
@media (max-width: 992px) {
  .Typography-headline-1-d80c613 {
    font-size: var(--ids-4affa3);
  }
}
.Typography-headline-2-075ba26 {
  font-family: var(--ids-171f71);
  font-size: var(--ids-acfbbc, 40px);
  font-style: normal;
  font-weight: var(--ids-d603df, 600);
  line-height: var(--ids-956734, 1.3);
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.Typography-headline-2-075ba26 strong {
  font-weight: var(--ids-4cee96, 700);
}
.Typography-headline-2-075ba26.Typography-ramp-medium-a8ae865 {
  font-size: var(--ids-18b98a);
}
@media (max-width: 992px) {
  .Typography-headline-2-075ba26 {
    font-size: var(--ids-18b98a);
  }
}
.Typography-headline-3-6944f89 {
  font-family: var(--ids-171f71);
  font-size: var(--ids-a589ba, 34px);
  font-style: normal;
  font-weight: var(--ids-a6d56d, 600);
  line-height: var(--ids-d1a293, 1.3);
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.Typography-headline-3-6944f89 strong {
  font-weight: var(--ids-0b976a, 700);
}
.Typography-headline-3-6944f89.Typography-ramp-medium-a8ae865 {
  font-size: var(--ids-82ffbe);
}
@media (max-width: 992px) {
  .Typography-headline-3-6944f89 {
    font-size: var(--ids-82ffbe);
  }
}
.Typography-headline-4-2345dc6 {
  font-family: var(--ids-171f71);
  font-size: var(--ids-f97de3, 28px);
  font-style: normal;
  font-weight: var(--ids-a14fa3, 500);
  line-height: var(--ids-b6dbfa, 1.3);
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.Typography-headline-4-2345dc6 strong {
  font-weight: var(--ids-08d6b4, 700);
}
.Typography-headline-4-2345dc6.Typography-ramp-medium-a8ae865 {
  font-size: var(--ids-418a4a);
}
@media (max-width: 992px) {
  .Typography-headline-4-2345dc6 {
    font-size: var(--ids-418a4a);
  }
}
.Typography-headline-5-e044d7e {
  font-family: var(--ids-171f71);
  font-size: var(--ids-10cd16, 24px);
  font-style: normal;
  font-weight: var(--ids-6944e6, 500);
  line-height: var(--ids-6fa6b1, 1.3);
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.Typography-headline-5-e044d7e strong {
  font-weight: var(--ids-39ee81, 700);
}
.Typography-headline-5-e044d7e.Typography-ramp-medium-a8ae865 {
  font-size: var(--ids-0d58a8);
}
@media (max-width: 992px) {
  .Typography-headline-5-e044d7e {
    font-size: var(--ids-0d58a8);
  }
}
.Typography-headline-6-e9dc30e {
  font-family: var(--ids-171f71);
  font-size: var(--ids-02379f, 20px);
  font-style: normal;
  font-weight: var(--ids-e566c6, 500);
  line-height: var(--ids-3cf0cb, 1.3);
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.Typography-headline-6-e9dc30e strong {
  font-weight: var(--ids-1cf8f6, 700);
}
.Typography-headline-6-e9dc30e.Typography-ramp-medium-a8ae865 {
  font-size: var(--ids-02b018);
}
@media (max-width: 992px) {
  .Typography-headline-6-e9dc30e {
    font-size: var(--ids-02b018);
  }
}
.Typography-body-1-4e181cb {
  font-family: var(--ids-72131d);
  font-size: var(--ids-f99ffc, 20px);
  font-style: normal;
  font-weight: var(--ids-03f501, 400);
  line-height: var(--ids-1a579d, 1.5);
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.Typography-body-1-4e181cb strong {
  font-weight: var(--ids-4f8b1f, 600);
}
.Typography-body-1-4e181cb.Typography-ramp-medium-a8ae865 {
  font-size: var(--ids-4de70d);
}
@media (max-width: 992px) {
  .Typography-body-1-4e181cb {
    font-size: var(--ids-4de70d);
  }
}
.Typography-body-2-bd1c2ef {
  font-family: var(--ids-72131d);
  font-size: var(--ids-a35cdb, 16px);
  font-style: normal;
  font-weight: var(--ids-53f4a4, 400);
  line-height: var(--ids-ae62bb, 1.5);
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.Typography-body-2-bd1c2ef strong {
  font-weight: var(--ids-b01d4e, 600);
}
.Typography-body-3-22cb388 {
  font-family: var(--ids-72131d);
  font-size: var(--ids-812632, 14px);
  font-style: normal;
  font-weight: var(--ids-fcb9df, 400);
  line-height: var(--ids-9733b1, 1.5);
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.Typography-body-3-22cb388 strong {
  font-weight: var(--ids-5ea72e, 600);
}
.Typography-body-4-8e5b84a {
  font-family: var(--ids-72131d);
  font-size: var(--ids-d8269c, 12px);
  font-style: normal;
  font-weight: var(--ids-d1b7f5, 400);
  line-height: var(--ids-8ad259, 1.5);
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}
.Typography-body-4-8e5b84a strong {
  font-weight: var(--ids-c8d98a, 600);
}
.Typography-fw-300-36e0c33,
.Typography-thin-8279b85 {
  font-weight: var(--ids-0dd0ee, 200);
}
.Typography-fw-400-d0ff4ff,
.Typography-regular-e283c1f {
  font-weight: var(--ids-ab7d3d, 400);
}
.Typography-fw-500-881a757,
.Typography-medium-1b82926,
strong.Typography-fw-500-881a757,
strong.Typography-medium-1b82926 {
  font-weight: var(--ids-7efd80, 500);
}
.Typography-demi-3c6699e,
.Typography-fw-600-ca96c4a,
strong.Typography-demi-3c6699e,
strong.Typography-fw-600-ca96c4a {
  font-weight: var(--ids-3bf586, 600);
}
.Typography-bold-46d7e41,
.Typography-fw-700-6658aba,
strong.Typography-bold-46d7e41,
strong.Typography-fw-700-6658aba {
  font-weight: var(--ids-763d71, 700);
}
.Typography-fw-800-91bd290,
.Typography-heavy-f29182c,
strong.Typography-fw-800-91bd290,
strong.Typography-heavy-f29182c {
  font-weight: var(--ids-81b416, 800);
}
.Typography-creditkarma-2501fd4.Typography-light-8886787 {
  --ids-82c7f6: National2, Avenir Next forINTUIT, Avenir, Helvetica, Arial,
    sans-serif;
  --ids-171f71: National2, Avenir Next forINTUIT, Avenir, Helvetica, Arial,
    sans-serif;
  --ids-72131d: National2, Avenir Next forINTUIT, Avenir, Helvetica, Arial,
    sans-serif;
  --ids-0dd0ee: 400;
  --ids-7efd80: 400;
  --ids-3bf586: 500;
  --ids-81b416: 700;
  --ids-9fb241: 500;
  --ids-d1dfa5: 500;
  --ids-d603df: 500;
  --ids-a6d56d: 500;
  --ids-6944e6: 400;
  --ids-e566c6: 400;
  --ids-4f8b1f: 500;
  --ids-b01d4e: 500;
  --ids-5ea72e: 500;
  --ids-c8d98a: 500;
}
.Typography-creditkarma-2501fd4.Typography-dark-d889099 {
  --ids-82c7f6: National2, Avenir Next forINTUIT, Avenir, Helvetica, Arial,
    sans-serif;
  --ids-171f71: National2, Avenir Next forINTUIT, Avenir, Helvetica, Arial,
    sans-serif;
  --ids-72131d: National2, Avenir Next forINTUIT, Avenir, Helvetica, Arial,
    sans-serif;
  --ids-0dd0ee: 400;
  --ids-7efd80: 400;
  --ids-3bf586: 500;
  --ids-81b416: 700;
  --ids-9fb241: 500;
  --ids-d1dfa5: 500;
  --ids-d603df: 500;
  --ids-a6d56d: 500;
  --ids-6944e6: 400;
  --ids-e566c6: 400;
  --ids-03f501: 400;
  --ids-53f4a4: 400;
  --ids-fcb9df: 400;
  --ids-d1b7f5: 400;
}
:root {
  --ids-82c7f6: Avenir Next forINTUIT Var, Avenir, Helvetica, Arial, sans-serif;
  --ids-171f71: Avenir Next forINTUIT Var, Avenir, Helvetica, Arial, sans-serif;
  --ids-72131d: Avenir Next forINTUIT Var, Avenir, Helvetica, Arial, sans-serif;
  --ids-57eb72: 72px;
  --ids-db0e34: 60px;
  --ids-8eba87: 48px;
  --ids-aa1a2a: 40px;
  --ids-4affa3: 40px;
  --ids-18b98a: 34px;
  --ids-82ffbe: 28px;
  --ids-418a4a: 24px;
  --ids-0d58a8: 24px;
  --ids-02b018: 20px;
  --ids-4de70d: 16px;
}
.Typography-mailchimp-75b4950.Typography-dark-d889099,
.Typography-mailchimp-75b4950.Typography-light-8886787 {
  --ids-82c7f6: Means Web, Georgia, Times, Times New Roman, serif;
  --ids-171f71: Means Web, Georgia, Times, Times New Roman, serif;
  --ids-72131d: Graphik Web, Helvetica Neue, Helvetica, Arial, Verdana,
    sans-serif;
  --ids-1e0740: 400;
  --ids-556200: 48px;
  --ids-ab1362: 400;
  --ids-7879cd: 400;
  --ids-6bf844: 32px;
  --ids-3cb5e9: 400;
  --ids-297ac9: 400;
  --ids-b213c5: 24px;
  --ids-c8bf82: 400;
  --ids-9fb241: 400;
  --ids-3026b1: 20px;
  --ids-9ae687: 400;
}
.Typography-mint-b3a58b7.Typography-dark-d889099,
.Typography-mint-b3a58b7.Typography-light-8886787 {
  --ids-d1dfa5: 700;
  --ids-a6d56d: 700;
  --ids-a14fa3: 700;
  --ids-e566c6: 700;
}
.Typography-quickbooks-3a631af.Typography-dark-d889099,
.Typography-quickbooks-3a631af.Typography-light-8886787 {
  --ids-d1dfa5: 700;
  --ids-a6d56d: 700;
  --ids-a14fa3: 600;
  --ids-0d58a8: 20px;
  --ids-02b018: 16px;
}
.Typography-ttexpress-5a7357a.Typography-dark-d889099,
.Typography-ttexpress-5a7357a.Typography-light-8886787,
.Typography-ttfullservice-2b0adab.Typography-dark-d889099,
.Typography-ttfullservice-2b0adab.Typography-light-8886787,
.Typography-turbotax-d07eae3.Typography-dark-d889099,
.Typography-turbotax-d07eae3.Typography-light-8886787 {
  --ids-9fb241: 600;
  --ids-a14fa3: 600;
  --ids-e566c6: 400;
}
/*# sourceMappingURL=shell.2624d030cb9720f003a2.css.map*/
