:root, [data-theme="intuit"] {
  --color-action-complementary: #6B6C72;
  --color-action-complementary-active: rgba(107, 108, 114, 0.75);
  --color-action-complementary-border: #FFFFFF;
  --color-action-complementary-focus: #6B6C72;
  --color-action-complementary-hover: rgba(107, 108, 114, 0.85);
  --color-action-complementary-subtle: rgba(255, 255, 255, 0);
  --color-action-complementary-subtle-active: rgba(255, 255, 255, 0.2);
  --color-action-complementary-subtle-focus: rgba(255, 255, 255, 0);
  --color-action-complementary-subtle-hover: rgba(255, 255, 255, 0.1);
  --color-action-negative: #D52B1E;
  --color-action-negative-active: #B80000;
  --color-action-negative-focus: #D52B1E;
  --color-action-negative-hover: #C6160F;
  --color-action-negative-subtle: rgba(213, 43, 30, 0);
  --color-action-negative-subtle-active: rgba(213, 43, 30, 0.2);
  --color-action-negative-subtle-focus: rgba(213, 43, 30, 0);
  --color-action-negative-subtle-hover: rgba(213, 43, 30, 0.1);
  --color-action-passive: #E3E5E8;
  --color-action-passive-active: #BABEC5;
  --color-action-passive-border: #6B6C72;
  --color-action-passive-focus: #E3E5E8;
  --color-action-passive-hover: #D4D7DC;
  --color-action-passive-subtle: rgba(107, 108, 114, 0);
  --color-action-passive-subtle-active: rgba(107, 108, 114, 0.2);
  --color-action-passive-subtle-focus: rgba(107, 108, 114, 0);
  --color-action-passive-subtle-hover: rgba(107, 108, 114, 0.1);
  --color-action-special-use: #C9500F;
  --color-action-special-use-active: #AC4B18;
  --color-action-special-use-focus: #C9500F;
  --color-action-special-use-hover: #BF4E12;
  --color-action-special-use-subtle: rgba(255, 106, 0, 0);
  --color-action-special-use-subtle-active: rgba(255, 106, 0, 0.2);
  --color-action-special-use-subtle-focus: rgba(255, 106, 0, 0);
  --color-action-special-use-subtle-hover: rgba(255, 106, 0, 0.1);
  --color-action-standard: #0077C5;
  --color-action-standard-active: #055393;
  --color-action-standard-focus: #0077C5;
  --color-action-standard-hover: #0265AC;
  --color-action-standard-subtle: rgba(0, 119, 197, 0);
  --color-action-standard-subtle-active: rgba(0, 119, 197, 0.2);
  --color-action-standard-subtle-focus: rgba(0, 119, 197, 0);
  --color-action-standard-subtle-hover: rgba(0, 119, 197, 0.1);
  --color-code-attribute: #00892E;
  --color-code-boolean: #6100C2;
  --color-code-comment: #6B6C72;
  --color-code-keyword: #D72792;
  --color-code-line-highlight: #F0F4F6;
  --color-code-line-number: #859299;
  --color-code-number: #C84F00;
  --color-code-operator: #859299;
  --color-code-qualifier: #3BD85E;
  --color-code-string: #00828D;
  --color-code-text: #21262A;
  --color-code-type: #FCA354;
  --color-code-variable-1: #21262A;
  --color-code-variable-2: #21262A;
  --color-code-variable-3: #FCA354;
  --color-container-background-accent: #F5FCFF;
  --color-container-background-accent-active: #E1F5FF;
  --color-container-background-accent-focus: #EBF9FF;
  --color-container-background-accent-hover: #EBF9FF;
  --color-container-background-accent-selected: #E1F5FF;
  --color-container-background-attention: #FFECD9;
  --color-container-background-beta: #D9F6F5;
  --color-container-background-complementary: #393A3D;
  --color-container-background-info: #D9EFFB;
  --color-container-background-inverse: #393A3D;
  --color-container-background-negative: #FAD7D6;
  --color-container-background-neutral: #EEEEEF;
  --color-container-background-new: #FBDDF0;
  --color-container-background-positive: #E5F4D9;
  --color-container-background-primary: #FFFFFF;
  --color-container-background-quaternary: #E3E5E8;
  --color-container-background-secondary: #F4F5F8;
  --color-container-background-special-use-1: #7CBCFF;
  --color-container-background-special-use-2: #00D5B0;
  --color-container-background-special-use-3: #FF808C;
  --color-container-background-special-use-4: #D5DEE3;
  --color-container-background-tertiary: #ECEEF1;
  --color-container-border-accent: #0097E6;
  --color-container-border-attention: #FF8000;
  --color-container-border-complementary: #393A3D;
  --color-container-border-info: #0097E6;
  --color-container-border-negative: #E43834;
  --color-container-border-positive: #53B700;
  --color-container-border-primary: #D4D7DC;
  --color-container-border-secondary: #8D9096;
  --color-container-border-tertiary: #BABEC5;
  --color-container-overlay: rgba(255, 255, 255, 0.5);
  --color-data-attention: #FF8000;
  --color-data-attention-100: #FF9331;
  --color-data-attention-200: #FF8000;
  --color-data-attention-300: #FF6A00;
  --color-data-attention-400: #F95700;
  --color-data-category-1: #205EA3;
  --color-data-category-1-background: #7CBCFF;
  --color-data-category-2: #009EAC;
  --color-data-category-2-background: #38E8F6;
  --color-data-category-3: #6100C2;
  --color-data-category-3-background: #C0ABFF;
  --color-data-category-4: #E56C1D;
  --color-data-category-4-background: #FCA354;
  --color-data-category-5: #B61A37;
  --color-data-category-5-background: #FF9BA4;
  --color-data-category-6: #D72792;
  --color-data-category-6-background: #FF95D3;
  --color-data-category-7: #8F4BFF;
  --color-data-category-7-background: #D0C2FF;
  --color-data-category-8: #00A63B;
  --color-data-category-8-background: #5BEF76;
  --color-data-category-9: #3492EF;
  --color-data-category-9-background: #A0CFFF;
  --color-data-category-10: #C27A00;
  --color-data-category-10-background: #F9C741;
  --color-data-negative: #E43834;
  --color-data-negative-100: #F25A52;
  --color-data-negative-200: #E43834;
  --color-data-negative-300: #D52B1E;
  --color-data-negative-400: #B80000;
  --color-data-neutral: #BABEC5;
  --color-data-neutral-100: #BABEC5;
  --color-data-neutral-200: #8D9096;
  --color-data-neutral-300: #6B6C72;
  --color-data-neutral-400: #393A3D;
  --color-data-positive: #2CA01C;
  --color-data-positive-100: #7FD000;
  --color-data-positive-200: #53B700;
  --color-data-positive-300: #2CA01C;
  --color-data-positive-400: #108000;
  --color-data-primary: #0097E6;
  --color-data-primary-100: #21ABF6;
  --color-data-primary-200: #0097E6;
  --color-data-primary-300: #0077C5;
  --color-data-primary-400: #055393;
  --color-data-secondary: #00A6A4;
  --color-data-secondary-100: #00D7D7;
  --color-data-secondary-200: #00C1BF;
  --color-data-secondary-300: #00A6A4;
  --color-data-secondary-400: #008481;
  --color-data-tertiary: #7A3DD8;
  --color-data-tertiary-100: #9457FA;
  --color-data-tertiary-200: #7A3DD8;
  --color-data-tertiary-300: #6436AF;
  --color-data-tertiary-400: #4E2B8F;
  --color-divider-inverse: #FFFFFF;
  --color-divider-primary: #6B6C72;
  --color-divider-secondary: #BABEC5;
  --color-divider-tertiary: #D4D7DC;
  --color-focus-indicator: #0077C5;
  --color-icon-accent: #0077C5;
  --color-icon-complementary: #FFFFFF;
  --color-icon-disabled: #8D9096;
  --color-icon-inverse: #FFFFFF;
  --color-icon-primary: #393A3D;
  --color-icon-secondary: #6B6C72;
  --color-input-background-disabled: #8D9096;
  --color-input-background-error: rgba(213, 43, 30, 0.1);
  --color-input-background-error-focus: rgba(213, 43, 30, 0.07);
  --color-input-background-primary: #FFFFFF;
  --color-input-background-primary-active: #FFFFFF;
  --color-input-background-primary-focus: #FFFFFF;
  --color-input-background-primary-hover: #FFFFFF;
  --color-input-background-primary-selected: #0077C5;
  --color-input-background-readonly: #F4F5F8;
  --color-input-background-secondary: #BABEC5;
  --color-input-background-secondary-active: #BABEC5;
  --color-input-background-secondary-focus: #BABEC5;
  --color-input-background-secondary-hover: #BABEC5;
  --color-input-background-tertiary: #FFFFFF;
  --color-input-background-tertiary-active: #FFFFFF;
  --color-input-background-tertiary-focus: #FFFFFF;
  --color-input-background-tertiary-hover: #FFFFFF;
  --color-input-background-warning: rgba(255, 187, 0, 0.25);
  --color-input-background-warning-focus: rgba(255, 187, 0, 0.07);
  --color-input-border-disabled: #BABEC5;
  --color-input-border-error: #D52B1E;
  --color-input-border-primary: #8D9096;
  --color-input-border-primary-active: #0077C5;
  --color-input-border-primary-focus: #0077C5;
  --color-input-border-primary-hover: #0077C5;
  --color-input-border-primary-selected: #0077C5;
  --color-input-border-readonly: #8D9096;
  --color-input-border-secondary: #8D9096;
  --color-input-border-secondary-active: #0077C5;
  --color-input-border-secondary-focus: #0077C5;
  --color-input-border-secondary-hover: #0077C5;
  --color-input-border-tertiary: #BABEC5;
  --color-input-border-tertiary-active: #0097E6;
  --color-input-border-tertiary-focus: #0077C5;
  --color-input-border-tertiary-hover: #0097E6;
  --color-input-border-warning: #FF6A00;
  --color-input-label: #6B6C72;
  --color-input-placeholder: #BABEC5;
  --color-input-placeholder-disabled: #D4D7DC;
  --color-link-background: #EBF9FF;
  --color-link-background-visited: rgba(168, 152, 255, 0.1);
  --color-link-text: #0365AC;
  --color-link-text-active: #055393;
  --color-link-text-complementary: #34BFFF;
  --color-link-text-complementary-visited: #A898FF;
  --color-link-text-focus: #0365AC;
  --color-link-text-hover: #055393;
  --color-link-text-visited: #7A3DD8;
  --color-message-background-received: #ECEEF1;
  --color-message-background-sent: #0077C5;
  --color-message-text-received: #393A3D;
  --color-message-text-sent: #FFFFFF;
  --color-overlay: rgba(0, 0, 0, 0.4);
  --color-page-background-accent: #ECEEF1;
  --color-page-background-primary: #FFFFFF;
  --color-page-background-secondary: #F4F5F8;
  --color-page-background-tertiary: #ECEEF1;
  --color-progress-indicator: #0077C5;
  --color-selection-indicator: #0077C5;
  --color-shadow: rgba(0, 0, 0, 0.2);
  --color-text-accent: #0077C5;
  --color-text-complementary: #FFFFFF;
  --color-text-disabled: #8D9096;
  --color-text-highlight: #A0CFFF;
  --color-text-inverse: #FFFFFF;
  --color-text-negative: #D52B1E;
  --color-text-primary: #393A3D;
  --color-text-quaternary: #6B6C72;
  --color-text-secondary: #6B6C72;
  --color-text-tertiary: #6B6C72;
  --color-track-primary: #8D9096;
  --color-track-secondary: #D4D7DC;
  --color-ui-attention: #C9500F;
  --color-ui-attention-active: #AC4B18;
  --color-ui-attention-hover: #BF4E12;
  --color-ui-beta: #008481;
  --color-ui-completed: #108000;
  --color-ui-discover: #0097E6;
  --color-ui-info: #0077C5;
  --color-ui-negative: #D52B1E;
  --color-ui-negative-active: #B80000;
  --color-ui-negative-hover: #C6160F;
  --color-ui-neutral: #6B6C72;
  --color-ui-neutral-active: #393A3D;
  --color-ui-neutral-focus: #6B6C72;
  --color-ui-neutral-hover: #525357;
  --color-ui-neutral-selected: #393A3D;
  --color-ui-new: #C9007A;
  --color-ui-positive: #108000;
  --color-ui-primary: #0077C5;
  --color-ui-primary-active: #055393;
  --color-ui-primary-focus: #0077C5;
  --color-ui-primary-hover: #1067AA;
  --color-ui-secondary: #393A3D;
  --color-ui-secondary-active: #000000;
  --color-ui-secondary-focus: #393A3D;
  --color-ui-secondary-hover: #2B2B2E;
  --color-ui-tertiary: #393A3D;
  --color-ui-tertiary-active: #000000;
  --color-ui-tertiary-focus: #393A3D;
  --color-ui-tertiary-hover: #2B2B2E;
}
[data-theme="intuit"][data-colorscheme="dark"] {
  --color-action-complementary: #6B6C72;
  --color-action-complementary-active: rgba(107, 108, 114, 0.75);
  --color-action-complementary-border: #FFFFFF;
  --color-action-complementary-focus: #6B6C72;
  --color-action-complementary-hover: rgba(107, 108, 114, 0.85);
  --color-action-complementary-subtle: rgba(255, 255, 255, 0);
  --color-action-complementary-subtle-active: rgba(255, 255, 255, 0.2);
  --color-action-complementary-subtle-focus: rgba(255, 255, 255, 0);
  --color-action-complementary-subtle-hover: rgba(255, 255, 255, 0.1);
  --color-action-negative: #FF8979;
  --color-action-negative-active: #FFACA1;
  --color-action-negative-focus: #FF8979;
  --color-action-negative-hover: #FFA194;
  --color-action-negative-subtle: rgba(228, 56, 52, 0);
  --color-action-negative-subtle-active: rgba(228, 56, 52, 0.2);
  --color-action-negative-subtle-focus: rgba(228, 56, 52, 0);
  --color-action-negative-subtle-hover: rgba(228, 56, 52, 0.1);
  --color-action-passive: #6B6C72;
  --color-action-passive-active: rgba(107, 108, 114, 0.75);
  --color-action-passive-border: #FFFFFF;
  --color-action-passive-focus: #6B6C72;
  --color-action-passive-hover: rgba(107, 108, 114, 0.85);
  --color-action-passive-subtle: rgba(255, 255, 255, 0);
  --color-action-passive-subtle-active: rgba(255, 255, 255, 0.2);
  --color-action-passive-subtle-focus: rgba(255, 255, 255, 0);
  --color-action-passive-subtle-hover: rgba(255, 255, 255, 0.1);
  --color-action-special-use: #FFAC61;
  --color-action-special-use-active: #FFC590;
  --color-action-special-use-focus: #FFAC61;
  --color-action-special-use-hover: #FFBD81;
  --color-action-special-use-subtle: rgba(255, 172, 97, 0);
  --color-action-special-use-subtle-active: rgba(255, 172, 97, 0.2);
  --color-action-special-use-subtle-focus: rgba(255, 172, 97, 0);
  --color-action-special-use-subtle-hover: rgba(255, 172, 97, 0.1);
  --color-action-standard: #34BFFF;
  --color-action-standard-active: #71D2FF;
  --color-action-standard-focus: #34BFFF;
  --color-action-standard-hover: #5DCCFF;
  --color-action-standard-subtle: rgba(52, 191, 255, 0);
  --color-action-standard-subtle-active: rgba(52, 191, 255, 0.2);
  --color-action-standard-subtle-focus: rgba(52, 191, 255, 0);
  --color-action-standard-subtle-hover: rgba(52, 191, 255, 0.1);
  --color-code-attribute: #3BD85E;
  --color-code-boolean: #C0ABFF;
  --color-code-comment: #BABEC5;
  --color-code-keyword: #FF95D3;
  --color-code-line-highlight: #3C4348;
  --color-code-line-number: #859299;
  --color-code-number: #FCA354;
  --color-code-operator: #859299;
  --color-code-qualifier: #3BD85E;
  --color-code-string: #38E8F6;
  --color-code-text: #E2E9ED;
  --color-code-type: #E56C1D;
  --color-code-variable-1: #E2E9ED;
  --color-code-variable-2: #E2E9ED;
  --color-code-variable-3: #E56C1D;
  --color-container-background-accent: #173E5E;
  --color-container-background-accent-active: #1E3548;
  --color-container-background-accent-focus: #1A3953;
  --color-container-background-accent-hover: #1A3953;
  --color-container-background-accent-selected: #1E3548;
  --color-container-background-attention: #523120;
  --color-container-background-beta: #203A3A;
  --color-container-background-complementary: #393A3D;
  --color-container-background-info: #21313D;
  --color-container-background-inverse: #ECEEF1;
  --color-container-background-negative: #531C1C;
  --color-container-background-neutral: #2D2D2E;
  --color-container-background-new: #4B1C38;
  --color-container-background-positive: #294026;
  --color-container-background-primary: #282828;
  --color-container-background-quaternary: #46474A;
  --color-container-background-secondary: #313133;
  --color-container-background-special-use-1: #205EA3;
  --color-container-background-special-use-2: #006A56;
  --color-container-background-special-use-3: #B61A37;
  --color-container-background-special-use-4: #5D686F;
  --color-container-background-tertiary: #393A3D;
  --color-container-border-accent: #0097E6;
  --color-container-border-attention: #FF8000;
  --color-container-border-complementary: #393A3D;
  --color-container-border-info: #0097E6;
  --color-container-border-negative: #E43834;
  --color-container-border-positive: #53B700;
  --color-container-border-primary: #D4D7DC;
  --color-container-border-secondary: #8D9096;
  --color-container-border-tertiary: #6B6C72;
  --color-container-overlay: rgba(40, 40, 40, 0.5);
  --color-data-attention: #FF8000;
  --color-data-attention-100: #FF6A00;
  --color-data-attention-200: #FF8000;
  --color-data-attention-300: #FF9331;
  --color-data-attention-400: #FFAC61;
  --color-data-category-1: #34BFFF;
  --color-data-category-1-background: #385564;
  --color-data-category-2: #008481;
  --color-data-category-2-background: #2E494B;
  --color-data-category-3: #9457FA;
  --color-data-category-3-background: #4B4063;
  --color-data-category-4: #FF9331;
  --color-data-category-4-background: #614C3B;
  --color-data-category-5: #F25A52;
  --color-data-category-5-background: #5E4041;
  --color-data-category-6: #FFEE00;
  --color-data-category-6-background: #615E31;
  --color-data-category-7: #E31C9E;
  --color-data-category-7-background: #5B3450;
  --color-data-category-8: #A898FF;
  --color-data-category-8-background: #4F4D64;
  --color-data-category-9: #0077C5;
  --color-data-category-9-background: #2E4658;
  --color-data-category-10: #15EFE9;
  --color-data-category-10-background: #325E5F;
  --color-data-negative: #E43834;
  --color-data-negative-100: #D52B1E;
  --color-data-negative-200: #E43834;
  --color-data-negative-300: #F25A52;
  --color-data-negative-400: #FF8979;
  --color-data-neutral: #8D9096;
  --color-data-neutral-100: #8D9096;
  --color-data-neutral-200: #BABEC5;
  --color-data-neutral-300: #E3E5E8;
  --color-data-neutral-400: #F4F5F8;
  --color-data-positive: #53B700;
  --color-data-positive-100: #2CA01C;
  --color-data-positive-200: #53B700;
  --color-data-positive-300: #7FD000;
  --color-data-positive-400: #A9E838;
  --color-data-primary: #21ABF6;
  --color-data-primary-100: #0077C5;
  --color-data-primary-200: #0097E6;
  --color-data-primary-300: #21ABF6;
  --color-data-primary-400: #34BFFF;
  --color-data-secondary: #00C1BF;
  --color-data-secondary-100: #008481;
  --color-data-secondary-200: #00A6A4;
  --color-data-secondary-300: #00C1BF;
  --color-data-secondary-400: #00D7D7;
  --color-data-tertiary: #9457FA;
  --color-data-tertiary-100: #6436AF;
  --color-data-tertiary-200: #7A3DD8;
  --color-data-tertiary-300: #9457FA;
  --color-data-tertiary-400: #A898FF;
  --color-divider-inverse: #282828;
  --color-divider-primary: #8D9096;
  --color-divider-secondary: #6B6C72;
  --color-divider-tertiary: #6B6C72;
  --color-focus-indicator: #34BFFF;
  --color-icon-accent: #34BFFF;
  --color-icon-complementary: #FFFFFF;
  --color-icon-disabled: #6B6C72;
  --color-icon-inverse: #282828;
  --color-icon-primary: #ECEEF1;
  --color-icon-secondary: #BABEC5;
  --color-input-background-disabled: #6B6C72;
  --color-input-background-error: rgba(213, 43, 30, 0.1);
  --color-input-background-error-focus: rgba(213, 43, 30, 0.07);
  --color-input-background-primary: #282828;
  --color-input-background-primary-active: #282828;
  --color-input-background-primary-focus: #282828;
  --color-input-background-primary-hover: #282828;
  --color-input-background-primary-selected: #34BFFF;
  --color-input-background-readonly: #393A3D;
  --color-input-background-secondary: #282828;
  --color-input-background-secondary-active: #282828;
  --color-input-background-secondary-focus: #282828;
  --color-input-background-secondary-hover: #282828;
  --color-input-background-tertiary: #282828;
  --color-input-background-tertiary-active: #282828;
  --color-input-background-tertiary-focus: #282828;
  --color-input-background-tertiary-hover: #282828;
  --color-input-background-warning: rgba(255, 187, 0, 0.25);
  --color-input-background-warning-focus: rgba(255, 187, 0, 0.07);
  --color-input-border-disabled: #8D9096;
  --color-input-border-error: #FF8979;
  --color-input-border-primary: #8D9096;
  --color-input-border-primary-active: #34BFFF;
  --color-input-border-primary-focus: #34BFFF;
  --color-input-border-primary-hover: #34BFFF;
  --color-input-border-primary-selected: #34BFFF;
  --color-input-border-readonly: #BABEC5;
  --color-input-border-secondary: #8D9096;
  --color-input-border-secondary-active: #34BFFF;
  --color-input-border-secondary-focus: #34BFFF;
  --color-input-border-secondary-hover: #34BFFF;
  --color-input-border-tertiary: #8D9096;
  --color-input-border-tertiary-active: #34BFFF;
  --color-input-border-tertiary-focus: #34BFFF;
  --color-input-border-tertiary-hover: #34BFFF;
  --color-input-border-warning: #FFAC61;
  --color-input-label: #BABEC5;
  --color-input-placeholder: #6B6C72;
  --color-input-placeholder-disabled: #393A3D;
  --color-link-background: rgba(5, 83, 147, 0.5);
  --color-link-background-visited: rgba(78, 43, 143, 0.5);
  --color-link-text: #34BFFF;
  --color-link-text-active: #71D2FF;
  --color-link-text-complementary: #34BFFF;
  --color-link-text-complementary-visited: #A898FF;
  --color-link-text-focus: #34BFFF;
  --color-link-text-hover: #5DCCFF;
  --color-link-text-visited: #A898FF;
  --color-message-background-received: #393A3D;
  --color-message-background-sent: #34BFFF;
  --color-message-text-received: #ECEEF1;
  --color-message-text-sent: #282828;
  --color-overlay: rgba(0, 0, 0, 0.4);
  --color-page-background-accent: #6B6C72;
  --color-page-background-primary: #282828;
  --color-page-background-secondary: #393A3D;
  --color-page-background-tertiary: #6B6C72;
  --color-progress-indicator: #34BFFF;
  --color-selection-indicator: #34BFFF;
  --color-shadow: #000000;
  --color-text-accent: #34BFFF;
  --color-text-complementary: #FFFFFF;
  --color-text-disabled: #6B6C72;
  --color-text-highlight: #17497F;
  --color-text-inverse: #282828;
  --color-text-negative: #FF8979;
  --color-text-primary: #ECEEF1;
  --color-text-quaternary: #BABEC5;
  --color-text-secondary: #E3E5E8;
  --color-text-tertiary: #D4D7DC;
  --color-track-primary: #8D9096;
  --color-track-secondary: #6B6C72;
  --color-ui-attention: #FFAC61;
  --color-ui-attention-active: #FFC590;
  --color-ui-attention-hover: #FFBD81;
  --color-ui-beta: #15EFE9;
  --color-ui-completed: #53B700;
  --color-ui-discover: #34BFFF;
  --color-ui-info: #34BFFF;
  --color-ui-negative: #FF8979;
  --color-ui-negative-active: #FFACA1;
  --color-ui-negative-hover: #FFA194;
  --color-ui-neutral: #BABEC5;
  --color-ui-neutral-active: #E3E5E8;
  --color-ui-neutral-focus: #BABEC5;
  --color-ui-neutral-hover: #D4D7DC;
  --color-ui-neutral-selected: #E3E5E8;
  --color-ui-new: #FF88EC;
  --color-ui-positive: #53B700;
  --color-ui-primary: #34BFFF;
  --color-ui-primary-active: #71D2FF;
  --color-ui-primary-focus: #34BFFF;
  --color-ui-primary-hover: #5DCCFF;
  --color-ui-secondary: #393A3D;
  --color-ui-secondary-active: #000000;
  --color-ui-secondary-focus: #393A3D;
  --color-ui-secondary-hover: #2B2B2E;
  --color-ui-tertiary: #393A3D;
  --color-ui-tertiary-active: #000000;
  --color-ui-tertiary-focus: #393A3D;
  --color-ui-tertiary-hover: #2B2B2E;
}
:root, [data-theme="intuit"] {
  --font-size-action-large: 20px;
  --font-size-action-medium: 16px;
  --font-size-action-small: 14px;
  --font-size-action-x-small: 12px;
  --font-size-body-1: 20px;
  --font-size-body-2: 16px;
  --font-size-body-3: 14px;
  --font-size-body-4: 12px;
  --font-size-component-large: 20px;
  --font-size-component-medium: 16px;
  --font-size-component-small: 14px;
  --font-size-component-x-large: 24px;
  --font-size-component-x-small: 12px;
  --font-size-display-1: 84px;
  --font-size-display-2: 72px;
  --font-size-display-3: 60px;
  --font-size-display-4: 48px;
  --font-size-heading-1: 48px;
  --font-size-heading-2: 40px;
  --font-size-heading-3: 34px;
  --font-size-heading-4: 28px;
  --font-size-heading-5: 24px;
  --font-size-heading-6: 20px;
  --font-size-input-label: 14px;
  --font-size-input-label-small: 14px;
  --font-size-input-text: 16px;
  --font-size-input-text-small: 14px;
}
@media (max-width: 992px) {
  :root, [data-theme="intuit"] {
    --font-size-action-large: 20px;
    --font-size-action-medium: 16px;
    --font-size-action-small: 14px;
    --font-size-action-x-small: 12px;
    --font-size-body-1: 16px;
    --font-size-body-2: 16px;
    --font-size-body-3: 14px;
    --font-size-body-4: 12px;
    --font-size-component-large: 20px;
    --font-size-component-medium: 16px;
    --font-size-component-small: 14px;
    --font-size-component-x-large: 24px;
    --font-size-component-x-small: 12px;
    --font-size-display-1: 72px;
    --font-size-display-2: 60px;
    --font-size-display-3: 48px;
    --font-size-display-4: 40px;
    --font-size-heading-1: 40px;
    --font-size-heading-2: 34px;
    --font-size-heading-3: 28px;
    --font-size-heading-4: 24px;
    --font-size-heading-5: 24px;
    --font-size-heading-6: 20px;
    --font-size-input-label: 14px;
    --font-size-input-label-small: 14px;
    --font-size-input-text: 16px;
    --font-size-input-text-small: 14px;
  }
}
@media (max-width: 480px) {
  :root, [data-theme="intuit"] {
    --font-size-action-large: 20px;
    --font-size-action-medium: 16px;
    --font-size-action-small: 14px;
    --font-size-action-x-small: 12px;
    --font-size-body-1: 16px;
    --font-size-body-2: 16px;
    --font-size-body-3: 14px;
    --font-size-body-4: 12px;
    --font-size-component-large: 20px;
    --font-size-component-medium: 16px;
    --font-size-component-small: 14px;
    --font-size-component-x-large: 24px;
    --font-size-component-x-small: 12px;
    --font-size-display-1: 60px;
    --font-size-display-2: 48px;
    --font-size-display-3: 40px;
    --font-size-display-4: 34px;
    --font-size-heading-1: 34px;
    --font-size-heading-2: 28px;
    --font-size-heading-3: 28px;
    --font-size-heading-4: 24px;
    --font-size-heading-5: 20px;
    --font-size-heading-6: 20px;
    --font-size-input-label: 14px;
    --font-size-input-label-small: 14px;
    --font-size-input-text: 16px;
    --font-size-input-text-small: 14px;
  }
}
:root, [data-theme="intuit"] {
  --duration-appear-emphasize-fast: 500ms;
  --duration-appear-emphasize-moderate: 700ms;
  --duration-appear-emphasize-slow: 800ms;
  --duration-appear-fast: 250ms;
  --duration-appear-moderate: 300ms;
  --duration-appear-slow: 350ms;
  --duration-disappear-emphasize-fast: 500ms;
  --duration-disappear-emphasize-moderate: 700ms;
  --duration-disappear-emphasize-slow: 800ms;
  --duration-disappear-fast: 200ms;
  --duration-disappear-moderate: 250ms;
  --duration-disappear-slow: 300ms;
  --duration-fade-fast: 150ms;
  --duration-fade-moderate: 200ms;
  --duration-fade-slow: 250ms;
  --duration-progress-fast: 500ms;
  --duration-progress-moderate: 1000ms;
  --duration-progress-slow: 1500ms;
  --duration-progress-slowest: 2000ms;
  --duration-transform-emphasize-fast: 500ms;
  --duration-transform-emphasize-moderate: 700ms;
  --duration-transform-emphasize-slow: 800ms;
  --duration-transform-fast: 350ms;
  --duration-transform-moderate: 400ms;
  --duration-transform-slow: 450ms;
  --ease-appear: cubic-bezier(0, 0, 0.25, 1);
  --ease-appear-emphasize: cubic-bezier(0.15, 1.4, 0.25, 1);
  --ease-disappear: cubic-bezier(0.35, 0, 1, 1);
  --ease-disappear-emphasize: cubic-bezier(0.4, 0, 0.6, -0.4);
  --ease-fade: cubic-bezier(0.35, 0, 0.5, 1);
  --ease-transform: cubic-bezier(0.35, 0, 0.25, 1);
  --ease-transform-emphasize: cubic-bezier(0.35, 1.4, 0.25, 1);
  --elevation-level-0: 0 0 0 0;
  --elevation-level-1: 0 1px 4px 0;
  --elevation-level-2: 0 2px 8px 0;
  --elevation-level-3: 0 4px 16px 0;
  --elevation-level-4: 0 6px 24px 0;
  --font-family-body: Avenir Next forINTUIT, Avenir, Helvetica, Arial, sans-serif;
  --font-family-component: Avenir Next forINTUIT, Avenir, Helvetica, Arial, sans-serif;
  --font-family-display: Avenir Next forINTUIT, Avenir, Helvetica, Arial, sans-serif;
  --font-family-heading: Avenir Next forINTUIT, Avenir, Helvetica, Arial, sans-serif;
  --font-name-body: Avenir Next forINTUIT;
  --font-name-component: Avenir Next forINTUIT;
  --font-name-display: Avenir Next forINTUIT;
  --font-name-heading: Avenir Next forINTUIT;
  --font-weight-body: 400;
  --font-weight-body-bold: 600;
  --font-weight-body-semibold: 500;
  --font-weight-component: 400;
  --font-weight-component-bold: 600;
  --font-weight-component-semibold: 500;
  --font-weight-display: 700;
  --font-weight-display-bold: 900;
  --font-weight-heading: 600;
  --font-weight-heading-bold: 800;
  --font-weight-input-label: 400;
  --font-weight-input-text: 500;
  --line-height-body: 1.5;
  --line-height-component: 1.3;
  --line-height-display: 1.3;
  --line-height-heading: 1.3;
  --opacity-disabled: 0.5;
  --opacity-shadow: 0.2;
  --radius-action: 4px;
  --radius-container-overlay: 4px;
  --radius-content-control: 4px;
  --radius-full: 9999px;
  --radius-large: 8px;
  --radius-medium: 6px;
  --radius-none: 0;
  --radius-small: 4px;
  --radius-table: 4px;
  --radius-x-large: 12px;
  --radius-x-small: 2px;
  --space-column-gap-large: 24px;
  --space-column-gap-medium: 20px;
  --space-column-gap-small: 16px;
  --space-column-gap-x-large: 40px;
  --space-column-gap-x-small: 8px;
  --space-column-gap-xx-small: 4px;
  --space-component-gap-large: 12px;
  --space-component-gap-medium: 8px;
  --space-component-gap-small: 4px;
  --space-component-gap-x-small: 2px;
  --space-component-inline-padding-large: 10px;
  --space-component-inline-padding-medium: 8px;
  --space-component-inline-padding-small: 6px;
  --space-component-inline-padding-x-large: 12px;
  --space-component-inline-padding-x-small: 4px;
  --space-component-inline-padding-xx-large: 16px;
  --space-component-inline-padding-xx-small: 2px;
  --space-component-inline-padding-xxx-large: 20px;
  --space-component-inline-padding-xxx-small: 0;
  --space-component-stack-padding-large: 8px;
  --space-component-stack-padding-medium: 6px;
  --space-component-stack-padding-small: 4px;
  --space-component-stack-padding-x-large: 10px;
  --space-component-stack-padding-x-small: 2px;
  --space-component-stack-padding-xx-small: 0;
  --space-container-padding-large: 24px;
  --space-container-padding-medium: 20px;
  --space-container-padding-small: 16px;
  --space-container-padding-x-large: 32px;
  --space-container-padding-x-small: 12px;
  --space-container-padding-xx-large: 40px;
  --space-container-padding-xx-small: 8px;
  --space-container-padding-xxx-large: 60px;
  --space-container-padding-xxx-small: 4px;
  --space-input-inline-padding-medium: 8px;
  --space-input-inline-padding-small: 8px;
  --space-input-stack-padding-medium: 8px;
  --space-input-stack-padding-small: 6px;
  --space-large: 24px;
  --space-medium: 16px;
  --space-page-inline: 20px;
  --space-row-gap-large: 40px;
  --space-row-gap-medium: 20px;
  --space-row-gap-small: 12px;
  --space-row-gap-x-large: 60px;
  --space-row-gap-x-small: 8px;
  --space-small: 12px;
  --space-x-large: 40px;
  --space-x-small: 8px;
}